<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">NAVIGATION</li>
        <li class="treeview">
          <a href="__ROOT__/Home/Index/index">
            <i class="fa fa-dashboard"></i> <span>总体分布</span>
          </a>
          <a href="__ROOT__/Home/Index/scatter">
            <i class="fa fa-dashboard"></i> <span>散点图</span>
          </a>
        </li>
        <li class="treeview">
          <a href="__ROOT__/Home/Index/heatmap">
            <i class="fa fa-dashboard"></i> <span>热力图</span>
          </a>
        </li>
        <li class="treeview">
          <a href="__ROOT__/Home/Index/equalprice">
            <i class="fa fa-dashboard"></i> <span>等价图</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>