<layout name="Public/layout" />
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 北京房价等价线
      </div>
      <div class="panel panel-body">
        <div id="7dmap" style="width: 100%;height:700px;"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/7d/lib/mapbox-gl-js-0.29.0/mapbox-gl.js"></script>
<script type="text/javascript" src="__PUBLIC__/7d/lib/d3-4.9.1/d3.v4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/7d/lib/d3-4.9.1/d3-hsv.v0.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/7d/js/d3-contour.js"></script>
<script type="text/javascript" src="__PUBLIC__/7d/js/main.js"></script>