<layout name="Public/layout" />
<div class="row">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> 北京房价热力图
      </div>
      <div class="panel panel-body">
        <div id="main" style="width: 100%;height:700px;"></div>
      </div>
    </div>
  </div>
<div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-search fa-fw"></i> 关键字定位
      </div>
      <div class="panel panel-body">
          <div class="input-group">
            <input type="text" id="keyword" name="keyword" class="form-control" placeholder="关键字" autocomplete="off"/>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-search fa-fw"></i> 基本筛选
      </div>
      <div class="panel panel-body">

        <form class="form">
          <div class="form-group">
            <label>每平米价格(万元):</label>
            <input id="price" name='price' data-slider-id='priceSlider' type="text" data-slider-min="0" data-slider-max="15" data-slider-step="1" data-slider-value="0"/>
          </div>

          <div class="form-group">
            <label>面积大小(平米):</label>
            <input id="area" name="area" data-slider-id='areaSlider' type="text" data-slider-min="0" data-slider-max="200" data-slider-step="50" data-slider-value="0"/>
          </div>
          
          <div class="form-group">
            <label>距市中心距离(km): </label>
            <input id="distance" name="distance" data-slider-id='distanceSlider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="5" data-slider-value="0"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style type='text/css'>
.slider-selection {
  background: #BABABA;
}
.slider-handle {
  background: #3C8DBC;
}
</style>
<script>
var myChart = echarts.init(document.getElementById('main'));
var name2id = {};
var xys = [];
var xy = [116.404, 39.915];
var zoom = 11;
draw(0,0,0);
$("#keyword").typeahead({
    updater: function(item) {
      var idx = name2id[item];
      xy[1] = xys[idx].lat;
      xy[0] = xys[idx].lng;
      zoom = 14;
      var price = document.getElementById("price").value;
      var area = document.getElementById("area").value;
      var distance = document.getElementById("distance").value;
      draw(price,area,distance);
      return item;
    },
    source: function(query, process) {
        //query是输入的值
        $.ajax({
            dataType: "jsonp",
            url: "http://api.map.baidu.com/place/v2/suggestion",
            data: "query=" + query + "&region=北京市&city_limit=true&location=39.915132,116.403972&output=json&ak=dASz7ubuSpHidP1oQWKuAK3q",
            jsonp:"callback",
            success: function(data) {
                var names = [];
                var places = [];
                $.each(data.result,function(index,item){
                    if(typeof(item["location"]) != "undefined")
                    {
                        places.push(item);
                    }
                });
                $.each(places,function(index,item){
                    name2id[item.name]=index;
                    names.push(item.name);
                    var obj = Object();
                    obj.lat = item["location"]["lat"];
                    obj.lng = item["location"]["lng"];
                    xys.push(obj)
                });
                process(names);
            },
            error: function() {
                alert('error');
            },
            timeout: function() {
                alert('time out');
            }
        });
    },
    items: 10,
    delay: 1000
});

$('#price').bootstrapSlider({
    formatter: function(value) {
        return value + ' 万';
    }
}).on('slideStop',
function(ev) {
    var price = ev.value;
    var area = document.getElementById("area").value;
    var distance = document.getElementById("distance").value;
    draw(price, area, distance);
});

$('#area').bootstrapSlider({
    formatter: function(value) {
        return value + " 平米";
    }
}).on('slideStop',
function(ev) {
    var price = document.getElementById("price").value;
    var area = ev.value;
    var distance = document.getElementById("distance").value;
    draw(price, area, distance);
});

$('#distance').bootstrapSlider({
    formatter: function(value) {
        return value + " km";
    }
}).on('slideStop',
function(ev) {
    var price = document.getElementById("price").value;;
    var area = document.getElementById("area").value;
    var distance = ev.value;
    draw(price, area, distance);
});

var marker=null;
function draw(price,area,distance)
{
  var house_data = [];
  myChart.showLoading();
  $.ajax({
    type: "GET",
    url: "__ROOT__/Home/Index/get_all",
    data: "price=" + price + "&area=" + area + "&distance=" + distance,
    dataType: 'json',
    success: function (data) {
      myChart.hideLoading();

      $.each(data, function (index, house) {
        var each_house = [];
        each_house.push(house.longitude, house.latitude);
        house_data.push(each_house);
      });

      myChart.setOption({
        visualMap: {
          show: false,
          top: 'top',
          min: 0,
          max: 5,
          seriesIndex: 0,
          calculable: true,
          inRange: {
            color: ['blue', 'blue', 'green', 'yellow', 'red']
          }
        },
        bmap: {
          center: xy,
          zoom: zoom,
          roam: true
        },
        series: [{
          name: 'house',
          type: 'heatmap',
          coordinateSystem: 'bmap',
          data: house_data,
          symbolSize: 12,
          pointSize: 6,
          blurSize: 15
        }]
      });
            var bmap = myChart.getModel().getComponent('bmap').getBMap();
            var point = new BMap.Point(xy[0],xy[1]);
            var myIcon = new BMap.Icon("__PUBLIC__/icon/markers.png", new BMap.Size(23, 25), {  
                        offset: new BMap.Size(10, 25), // 指定定位位置  
                        imageOffset: new BMap.Size(0, 0 - 10 * 25) // 设置图片偏移  
                    });  
            if(marker!=null)
               bmap.removeOverlay(marker);
            marker = new BMap.Marker(point,{icon:myIcon});

            bmap.addOverlay(marker);
            marker.setAnimation(BMAP_ANIMATION_BOUNCE);


    },
    error: function () {
      alert('error')
    },
    timeout: function () {
      alert('time out')
    }
  });
}

</script>